<a href="https://colab.research.google.com/github/AnnisaCitraPratiwi/Annisa-Citra-Pratiwi-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Primer

* Input Output

In [1]:
#output

#program Hello World
print("Hello World")

Hello World

In [5]:
#Input

#Input berupa string
your_age = input("Enter Your Age : ")
print("Your Age is ", your_age)

#Input Berupa bilangan integer
your_age = int(input("Enter Your Age : "))
print("Your Age is ", your_age)

#Input berupa bilangan real/float
your_height = eval(input("Enter your height : "))
print("Your Age is", your_height)

#note : your_age itu variabel nya.
#kalo mau nginput variabel kita bisa masukin syntax input.
#untuk output kasih tanda ("kata kata nya")
#kemudian ga lupa diikuti variabel nya. jadi (input("kata kata", nama variabel nya))

#kalo untuk string gaperlu pake tipe data nya
#kalo integer pakein tipe data int sbeelum outputan
#kalo tipe data real dan float pakein syntax eval nya.
#eval itu untuk bilangan desimal.

Enter Your Age : 13
Your Age is  13
Enter Your Age : 3
Your Age is  3
Enter your height : 199999999999
Your Age is 199999999999

* Tipe Data

In [10]:
C = "7"
print(C)
print(type(C))
B = int(C)
print(B)
print(type(B))

7
<class 'str'>
7
<class 'int'>

In [11]:
C = "7"
print(C)
print("Output", C)

7
Output 7

* Operator

In [17]:
x = 1
y = 5

print(x+y) # operator aritmatika
print(x**y) # operator aritmatika
print(x-y) # operator aritmatika
print(x*y) # operator aritmatika
#bintang dua kali itu sama kayak pangkat

print(x<y) # operator perbandingan
print(x==y) # operator perbandingan
#== artinya sama dengan

6
1
-4
5
True
False

* Kondisional

In [22]:
if 7 == C :
  print("Nilai 7 sama dengan")
  
else :
    print("Nilai 7 tidak sama dengan")

    #diperhatikan identasi, yakni penempatan

Nilai 7 tidak sama dengan

In [18]:
#mencetak perkalian angka 2 dengan angka 0 sampai 10

for i in range (10) :
  print (i*2)

#mencetak perkalian angka 2 dengan angka 1 sampai 10
for i in range (1,11):
  print(i*2)

0
2
4
6
8
10
12
14
16
18
2
4
6
8
10
12
14
16
18
20

In [23]:
i = 0 #inisiasi nilai i

while i < 5:
print(i)
i += 1 #operator penugasan

IndentationError: ignored

* Fungsi Tanpa Parameter

In [30]:
# fungsi yang mencetak suatu nilai

def cetak_c():
print("ini fungsi")

# panggil fungsinya

cetak_c()

IndentationError: ignored

* Fungsi dengan Parameter

In [29]:
# fungsi yang mencetak suatu nilai

def cetak_pangkat_dua(x):
  x=x**2
  return x

print (cetak_pangkat_dua(5))

25

* List

In [31]:
# list itu sama kayak array

#variabel list
nilai = [10,20,30,40]

#memanggil fungsi len untuk mencetak jumlah item dari list
print (len(nilai))

#memanggil fungsi max untuk mencetak item terbesar dari list
print(max(nilai))

4
40

* Eror Handling

In [32]:
x = 10

try :
  hasil = x/0
  print(hasil)

except ZeroDivisionError :
  print("Pembagian dengan 0 tidak dapat dilakukan")

Pembagian dengan 0 tidak dapat dilakukan